* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

nav {
    position: fixed;
    width: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-item a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #fff;
    opacity: 0.35;
}

.nav-item a .active {
    opacity: 1;
}

.hero {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 2;
    text-align: center;
    font-size: 40px;
}

.title p {
    position: relative;
    top: 50px;
}

.container {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    gap: 1rem;
}

.container .main {
    display: flex;
    position: relative;
    flex: 1;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.main .item {
    position: relative;
    flex: 1;
    width: 100%;
    background-color: gray;
    overflow: hidden;
}
 
.div-1, 
.div-3, 
.div-5 {
    top: 100% ;
}

.div-1 .item, 
.div-3 .item, 
.div-5 .item {
    top: 100%;
}

.div-2 .item, 
.div-4 .item {
    top: -100%;
}

footer {
    height: 100vh;
    width: 100%;
}